.forgot{
    .container{
            .card{
                width: 35%;
                margin: 19% auto 0px auto;
                box-shadow: -14px 14px 0px 1px rgba(255, 255, 255, 0.3);
                padding: 10px 30px;
                border-radius: 10px;
                @media(max-width:390px){
                    width: 100%;
                     }
                     @media(max-width:1366px){
                        margin: 5% auto 0px auto !important;
                    }
                    .signin_form{
                        padding: 15px 0px 0px 0px;
                        .form-label{
                            letter-spacing: 0.1px;
                            color: var(--unnamed-color-292929);
                            font-size: 14px;
                            line-height: 24px;
                        }
                        input{
                            border-radius: 10px;
                            height: 48px;
                           &::placeholder {
                                color: #9B9D9E;
                                letter-spacing: 0.09px;
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                        .btn_sign_in{
                            background: var(--unnamed-color-0052cc);
                            width: 100%;
                            color: #fff;
                            height: 48px;
                        }
                    }
                    .card-text{
                        font-size: 14px;
                        color: var(--unnamed-color-292929);
                        line-height:25px;
                        letter-spacing: 0.1px;
                    }
                 
                }
            }
        }