:root {
    /* Colors: */
    --unnamed-color-f0142f: #F0142F;
    --unnamed-color-ff7452: #FF7452;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-2684ff: #2684FF;
    --unnamed-color-f4f5f7: #F4F5F7;
    --unnamed-color-ffab00: #FFAB00;
    --unnamed-color-28a745: #28A745;
    --unnamed-color-000000: #000000;
    --unnamed-color-707070: #707070;
    --unnamed-color-0052cc: #0052CC;
    --unnamed-color-292929: #292929;
    --unnamed-color-f4f5f7:#F4F5F7;
    }